

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.yp.crm.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.yp.crm.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.yp.crm.settings.web.controller.UserController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/settings/user/login.do</url-pattern>
  </servlet-mapping>
</web-app>
